@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 350px;
}

.App-title {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
}
.App-subtitle {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.App-intro {
  font-size: large;
}

.join-button {
  padding:15px;
  font-size:0.75em;
  color:white;
  background-color:#FF0000;
  border-color:transparent;
}

.ui-button{
  padding:15px;
  font-size:0.75em;
}