@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900i');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 350px;
}

.App-title {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
}

.App-intro {
  font-size: large;
}
